* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
main {
  margin-top: 100px;
}

img {
  height: 80%;
}

.caption_adder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.btn {
  grid-column: 1 / -1;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #ccd2df;
}
.Minput {
  text-indent: 20px;
  border-radius: 5px;
  height: 50px;
}
.meme {
  position: relative;
}

.meme--image {
  margin-top: 50px;
  max-height: 500px;
  max-width: 100%;
  border-radius: 3px;
  display: flex;
  margin-left: 40%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
